#---- Gambas files to ignore (v4)
*.gambas
.lock
*~
core
core.*
vgcore
vgcore.*
.kdbg*
.*.prof
.lang/*.pot
.gambas/*
.settings
#----
# Ignore any log files that were created. We don't need to share those in this repo.
*.log
